<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="SuppressWithPlainTextCommentFilter"/>
    <module name="JavadocPackage"/>
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern"  value=".*[\\/]ui[\\/].*$"/>
    </module>
    <module name="TreeWalker">
        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocStyle"/>
        <module name="JavadocVariable">
            <property name="accessModifiers" value="public"/>
            <property name="accessModifiers" value="protected"/>
            <property name="accessModifiers" value="package"/>
        </module>
        <module name="MissingJavadocMethod">
            <property name="ignoreMethodNamesRegex" value="^main$"/>
        </module>
        <module name="MissingJavadocType"/>
        <module name="MissingJavadocPackage"/>
    </module>
</module>
